@model Test3.Models.Order

@{
    ViewData["Title"] = "Confirm Order";
}

<h2>Confirm Order</h2>

<div>
    <h3>Order Details</h3>
    <p>Total Price: @Model.Price</p>
    <p>Products:</p>
    <ul>
        @foreach (var item in Model.OrderItems)
        {
            <li>
                @item.Product.ProductName - Price: R200
            </li>
        }
    </ul>
</div>

<form asp-action="ConfirmOrder" method="post">
    <input type="hidden" asp-for="OrderId" />
    <button type="submit" class="btn btn-success">Confirm Order</button>
</form>
